- content_for(:title) { 'Clients' }
%h3 Clients
%p
  Lemmata has experience within the defence, space, aerospace, retail, publishing, telecommunications, consulting,
  digital agency and healthcare industries.
%p
  Since the company's formation in 2008, we've had numerous clients. These include:
  %ul.prose
    %li= link_to 'EADS', 'http://www.eads.com/'
    %li= link_to 'Kingfisher', 'http://www.kingfisher.com/'
    %li= link_to 'Met Office', 'http://www.metoffice.gov.uk/'
    %li= link_to 'Institute of Physics', 'http://www.iop.org/'
    %li= link_to 'O2', 'http://www.o2.co.uk/'
    %li= link_to 'Equal Experts', 'http://www.equalexperts.com/'
    %li= link_to 'Health2Works', 'http://www.health2works.com/'
    %li= link_to '7N', 'http://www.7n.com/uk/'
    %li= link_to 'Beef Digital Agency', 'http://www.wearebeef.co.uk/'
    %li= link_to 'Environment Agency', 'https://www.gov.uk/government/organisations/environment-agency/'
    %li= link_to 'CACI', 'http://www.caci.com/'
    %li= link_to 'Government Digital Service', 'https://www.gov.uk/government/groups/government-digital-service/'
