- content_for(:title) { 'Clients' }
%h1 Clients
%p
  Lemmata has experience within the defence, space, aerospace, retail, publishing, telecommunications, consulting,
  digital and healthcare industries.
%p
  Since the company's inception in 2008, we've had numerous clients. These include:
  %ul.prose
    %li= link_to "EADS", "http://www.eads.com/"
    %li= link_to "Kingfisher", "http://www.kingfisher.com/"
    %li= link_to "Met Office", "http://www.metoffice.gov.uk/"
    %li= link_to "Institute of Physics", "http://www.iop.org/"
    %li= link_to "O2", "http://www.o2.co.uk/"
    %li= link_to "Equal Experts", "http://www.equalexperts.com/"
    %li= link_to "Health2Works", "http://www.health2works.com/"
    %li= link_to "7N", "http://www.7n.com/uk/"
    %li= link_to "Beef", "http://www.wearebeef.co.uk/"
