- content_for(:title) { 'Who' }
%h1 Who are we?
%p
  I'm Nigel Lowry, Lemmata's company director and principal consultant.
%p
  I hold two degrees in computer science from
  = link_to "Nottingham", "http://www.nottingham.ac.uk/"
  and
  = succeed '.' do
    = link_to "Bristol", "http://www.bris.ac.uk/"
  These qualifications formed the basis of my software engineering background.
%p
  I started my career on the
  %abbr{title: 'Ministry of Defence'} MOD's
  = link_to "graduate scheme for engineers and scientists", "https://www.gov.uk/defence-engineering-and-science-group/"
  becoming the project manager of an international procurement project within two years.
  Soon I missed the technical side of the job and left to go back to programming with
  = succeed '.' do
    = link_to "BAE Systems", "http://www.baesystems.com/"
%p
  Java certification is arguably the best-recognised and respected programming certification available but
  after gaining
  %abbr{title: 'Sun Certified Java Programmer'} SCJP
  and
  %abbr{title: 'Oracle Certified Master Java Developer'} OCMJD
  status I realised enterprise Java development was too difficult, costly and complicated so I
  investigated other technologies.
%p
  For Web development, Ruby on Rails is hard to beat. It has testing support baked-in, which makes for quicker, more
  reliable development and I'm confident it can bring a lot of value to your project.

