%footer#page_footer
  %nav#main-nav{role: 'navigation'}
    %ul
      %li= link_to 'Home', root_path
      %li= link_to 'What we do', what_path
      %li= link_to 'Who we are', who_path
      %li= link_to 'Clients', clients_path
      %li= link_to 'Contact', contact_path
  %p &copy; 2013 Lemmata